name: CI - Tests and Linting

on:
    push:
        branches: 'main'

jobs:
    quality_test:
        runs-on: ubuntu-latest
        steps:

            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v3
              with:
                version: "0.8.9"
                enable-cache: true

            - name: Install dependencies
              run: make install

            - name: Run lint
              run: make lint
              
            - name: Run tests
              run: make test
